.container {
  margin: 2% auto 0 auto;
  .logo {
    max-width: 350px;
    height: auto;
    margin-bottom: 50px;
  }

  .mensagem {
    font-size: 18px;
    font-family: 'Montserrat Medium';
    color: #6a6a6a;
  }

  .cards-title {
    font-size: 1.1em;
    font-weight: bold;
    color: #989898;
    font-family: 'Montserrat Bold';
    text-transform: uppercase;
  }
}
