.footer {
  // position: fixed;
  bottom: 0px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  max-width: 936px;
  padding: 0px;
  &__social {
    &--container {
      width: 65%;
    }
    &--logo {
      margin-right: 15px;
    }
    &--icon {
      margin-right: 15px;
    }
  }
  &--img {
    height: 50px;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .footer {
    padding: 1rem 1.5rem 1rem;
    &--img {
      margin-left: 0.5rem;
    }
    &__social {
      &--icon {
        margin-top: 7px;
        width: 24px;
        height: 24px;
      }
    }
  }
}
@media screen and (min-width: 1085px) {
  .footer {
    min-width: 1000px;
    &__logo {
      margin-right: 80px;
    }
  }
}
